<launch>
  <param name="number_of_trials" value="2"/>

  <include file="$(find crustcrawler_gazebo)/launch/crustcrawler_world.launch" /> 

  <node name="joint_action_server" pkg="crustcrawler_interface" type="joint_trajectory_action_server.py" output="screen" />

  <include file="$(find crustcrawler_moveit_config)/launch/demo.launch" /> 

  <!--node name="crustcrawler_with_moveit" pkg="crustcrawler_with_moveit" type="crustcrawler_test_moveit" output="screen" /-->

</launch>
